.tournament-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.tournament-details-header {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

.tournament-table-container {
  width: 80%;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-column-place {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

@media screen and (max-width: 850px){
  .deck-name-container {
    display: none;
  }
}

@media screen and (max-width: 680px){
  .avg-cmc-container {
    display: none;
  }
}