<div class="card-stats-main">
    <h2 class="cart-stats-title">Top Cards</h2>
    <div class="card-stats-header">
        <mat-select placeholder="Select a format"  [(value)]="selectedFormat" class="format-select" (selectionChange)="onFormatChange()">
            <mat-option *ngFor="let format of formats" [value]="format">
                {{format}}
            </mat-option>
        </mat-select>
        <mat-select placeholder="Select a time scope" [(value)]="selectedTime" class="time-select" (selectionChange)="onTimeChange()">
            <mat-option *ngFor="let time of timeScopes" [value]="time">
                {{time.label}}
            </mat-option>
        </mat-select>
        <mat-select placeholder="Sideboard" [(value)]="selectedSideboard" class="sideboard-select" (selectionChange)="onSideboardChange()">
            <mat-option *ngFor="let sideboard of sideboardOptions" [value]="sideboard">
                {{sideboard.label}}
            </mat-option>
        </mat-select>
    </div>
    <div class="card-stats-container">
        <div class="card-stats-grid-view">
            <app-card-item *ngFor="let card of cards" [card]="card" [navigateToCardDetails]="navigateToCardDetails.bind(this)"></app-card-item>
        </div>
    </div>
</div>