.main-view-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-grid {
    width: 70%;
    align-self: center;
    margin-top: 20px;
}

.recent-tournaments-card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.recent-tournament-listitem:hover {
    cursor: pointer;
}

.recent-tournaments-tile {
    padding: 20px;
    margin: 20px 0 20px 0;
}