<div class="main-view-main-div">
    <mat-grid-list cols="2" class="display-grid">
        <mat-grid-tile class="recent-tournaments-tile"> 
            <mat-card class="recent-tournaments-card">
                <mat-card-header>
                    <mat-card-title>Recent Tournaments</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem" class="recent-tournament-listitem" *ngFor="let tournament of tournaments" (click)="viewTournamentDetails(tournament.id)">
                            <p mat-line>{{ tournament.name }}</p>
                            <p mat-line>{{ tournament.playerCount }}</p>    
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>