.app-header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.hamburger-menu {
    display: none;
  }
  
.nav-buttons {
    display: flex;
}
@media (max-width: 600px) {
    .nav-buttons {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
}