<table mat-table [dataSource]="decks" class="mat-elevation-z8">
    <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Place</th>
        <td mat-cell *matCellDef="let deck">{{deck.place}}</td>
        </ng-container>
    <ng-container matColumnDef="player">
        <th mat-header-cell *matHeaderCellDef>Player</th>
        <td mat-cell *matCellDef="let deck">{{deck.player}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="deck-name-container">Deck name</th>
        <td mat-cell *matCellDef="let deck" class="deck-name-container">{{deck.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="colors">
        <th mat-header-cell *matHeaderCellDef>Deck Colors</th>
        <td mat-cell *matCellDef="let deck"><div [innerHTML]="getColorIconsForDeck(deck)"></div></td>
        </ng-container>
    
        <ng-container matColumnDef="averageCMC">
        <th mat-header-cell *matHeaderCellDef class="avg-cmc-container">Average Cmc</th>
        <td mat-cell *matCellDef="let deck" class="avg-cmc-container">{{magicUtilsService.zeroIfNotNumber(deck.averageCMC) | number }}</td>
        </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
        mat-row
        (click)="viewDeckDetails(row)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>