<div class="deck-details-header">
    <h2>{{deck.name}}</h2>
    <p>{{deck.player}}</p>
</div>
<div class="deck-details-info">
    <p>{{deck.place}}</p>
    <mat-card class="deck-list-card-container">
        <div class="deck-list-container">
            <table class="deck-table table-1">
                <tbody>
                    <tr *ngFor="let card of tables.table1" class="deck-table-item">
                            <th colspan="3" class="table-category" *ngIf="card.categoryName" class="deck-table-item-category">{{card.categoryName | titlecase}}</th>
                            <td *ngIf="!card.categoryName">{{card.quantity}}</td>
                            <td *ngIf="!card.categoryName" class="deck-table-item-name" (mouseover)="showImage(card, $event)" (mouseleave)="hideImage()" (click)="viewCardDetails(card)">{{card.name}}</td>
                            <td *ngIf="!card.categoryName" [innerHtml]="card.manaCostIcons"></td>
                    </tr>
                </tbody>
            </table>
            <table class="deck-table table-2">
                <tbody>
                    <tr *ngFor="let card of tables.table2" class="deck-table-item">
                            <th colspan="3" class="table-category" *ngIf="card.categoryName" class="deck-table-item-category">{{card.categoryName | titlecase}}</th>
                            <td *ngIf="!card.categoryName">{{card.quantity}}</td>
                            <td *ngIf="!card.categoryName" class="deck-table-item-name" (mouseover)="showImage(card, $event)" (mouseleave)="hideImage()" (click)="viewCardDetails(card)">{{card.name}}</td>
                            <td *ngIf="!card.categoryName" [innerHtml]="card.manaCostIcons"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card>
    <img *ngIf="hoveredCard" [src]="hoveredCard.card.imageUrl" [style.top.px]="imageTop" [style.left.px]="imageLeft" class="hover-image">
    
</div>  